@import '~normalize-scss/sass/normalize/import-now';
@import '~typeface-krub/index.css';

body {
  --border-radius: 1rem;
  --box-shadow: 0 1px 1px 1px #222222;
  --palette-primary: #ff5023;
  --palette-button: #aaaaaa;
  --palette-input: #555555;
  --palette-text: #aaaaaa;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Krub', sans-serif;
}

input,
textarea {
  display: block;
  padding: 0 1rem;
  height: 3rem;
  min-width: 0;
  width: 100%;
  outline: none;
  box-shadow: inset var(--box-shadow);
  border: 0;
  border-radius: var(--border-radius);
  background: var(--palette-input);
  color: inherit;
  transition: .1s ease-out;

  &:hover,
  &:focus,
  &:active {
    background: #666666;
  }
}

button {
  outline: none;
  box-shadow: var(--box-shadow);
  border-width: 2px;
  border-radius: 50%;
  border-color: #dddddd;
  background: var(--palette-button);
  transition: .2s ease-out;
  cursor: pointer;

  &:active {
    border-style: inset;
  }
}

// remove the blue focus background on mobile
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
