@import '~normalize-scss/sass/normalize/import-now';
@import url('https://fonts.googleapis.com/css?family=Krub');

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Krub', sans-serif;
}
