@import '~normalize-scss/sass/normalize/import-now';
@import url('https://fonts.googleapis.com/css?family=Krub');

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Krub', sans-serif;
}

input,
textarea {
  display: block;
  padding: 0 1rem;
  height: 3rem;
  min-width: 0;
  width: 100%;
  outline: none;
  box-shadow: inset 0 1px 1px 1px #222222;
  border: 0;
  border-radius: .5rem;
  background: #555555;
  color: inherit;
  transition: .1s ease-out;

  &:hover,
  &:focus,
  &:active {
    background: #666666;
  }
}

button {
  outline: none;
  box-shadow: 0 1px 1px 1px #222222;
  border-width: 2px;
  border-radius: 50%;
  border-color: #dddddd;
  background: #aaaaaa;
  transition: .2s ease-out;
  cursor: pointer;

  &:active {
    border-style: inset;
  }
}

// remove the blue focus background on mobile
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
