:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.__pause,
.__wind {
  position: relative;
  display: block;
  padding: 1rem;
  margin: .25rem;
}

.__pause {
  width: 8rem;
  height: 8rem;

  Icon {
    font-size: 3rem;
  }
}

.__wind {
  width: 4rem;
  height: 4rem;

  Icon {
    font-size: 1.5rem;
  }
}
