<h2>movie-remote-control</h2>

<div
  class="point"
  (pointerdown)="handlePointerdown($event)"
  (pointermove)="handlePointermove($event)"
  (pointerup)="handlePointerup($event)"
></div>

<div>
  <button
    type="button"
    (click)="pressKey('ArrowLeft')"
  >Rewind</button>
  <button
    type="button"
    (click)="pressKey(' ')"
  >Pause</button>
  <button
    type="button"
    (click)="pressKey('ArrowRight')"
  >Forward</button>
</div>

<div>
  <input
    #input
    type="text"
    placeholder="Input"
    [value]="recentKeydown"
    (keydown)="handleKeydown($event)"
  />
</div>

<h2>server-response</h2>
<div>
  <textarea
    [value]="history"
    [disabled]="true"
  ></textarea>
</div>

<router-outlet></router-outlet>
