<h1>movie-remote-control</h1>

<div
  class="point"
  (pointerdown)="handlePointerdown($event)"
  (pointermove)="handlePointermove($event)"
  (pointerup)="handlePointerup($event)"
></div>

<div>
  <button
    type="button"
    (click)="sendKey(37)"
  >Rewind</button>
  <button
    type="button"
    (click)="sendKey(32)"
  >Pause</button>
  <button
    type="button"
    (click)="sendKey(39)"
  >Forward</button>
</div>

<div>
  <input
    #input
    type="text"
    placeholder="Input"
    [value]="recentKeydown"
    (keydown)="sendKey($event)"
  />
</div>

<h1>server-response</h1>
<div>
  <textarea [value]="history"></textarea>
</div>

<router-outlet></router-outlet>
