:host {
  display: block;
  max-width: 25rem;
  padding: 1rem;
  margin: 0 auto;
}

h1 {
  margin: .5em;
}

div {
  display: flex;
}

button,
input,
textarea {
  flex: 1;
  padding: .5rem;
}

.point {
  height: 30vh;
  border: 1px solid hsl(0, 0%, 87%);
}

textarea {
  height: 30vh;
}
