:host {
  display: block;
}

.volume {
  position: relative;
  display: flex;
  align-items: center;
  height: 3rem;

  .slider {
    position: absolute;
    width: 100%;
    height: 1rem;
    box-shadow: inset 0 1px 1px 1px #222222;
    border-radius: 1rem;
    transition: .2s ease-out;
  }

  .coordinate-system {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 3rem;
  }

  .knob {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    user-select: none;
  }

  &.--active {
    .slider,
    .knob {
      transition: none;
    }
  }

  icon {
    font-size: 1.5rem;
  }
}
