:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  max-width: 25rem;
  padding: 1rem;
  margin: 0 auto;
  background: #3e3d42;
  color: #acabb1;
}

.mousepad {
  position: relative;
  flex: 1;
  background: #57565c;
  border-radius: .5rem;
}

.keyboard {
  position: relative;
  margin-top: 1rem;
  user-select: none;

  .input {
    display: block;
    padding: 1rem;
    min-width: 0;
    width: 100%;
    border: 0;
    border-radius: .5rem;
    background: #57565c;
    color: #acabb1;
  }

  .recent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
}

.controls {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.pause,
.wind {
  position: relative;
  display: block;
  padding: 1rem;
  margin: .25rem;
  border-radius: 50%;
  background: #acabb1;
}

.pause {
  width: 8rem;
  height: 8rem;
}

.wind {
  width: 4rem;
  height: 4rem;
}

.volume {
  position: relative;
  background: #57565c;
  height: 1rem;
  border-radius: .5rem;
  margin: 2rem 0 1rem;

  .knob {
    position: relative;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background: #acabb1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

img,
svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  max-width: 3rem;
  max-height: 3rem;
  transform: translate(-50%, -50%);
}
