<div
  class="mousepad"
  (pointerdown)="handlePointerdown($event)"
  (pointermove)="handlePointermove($event)"
  (pointerup)="handlePointerup($event)"
></div>

<div class="controls">
  <button
    type="button"
    class="wind"
    (click)="pressKey('ArrowLeft'); pressKey('Enter')"
  >Rewind</button>
  <button
    type="button"
    class="pause"
    (click)="pressKey(' ')"
  >Pause</button>
  <button
    type="button"
    class="wind"
    (click)="pressKey('ArrowRight'); pressKey('Enter')"
  >Forward</button>
</div>

<div>
  <input
    #input
    type="text"
    class="keyboard"
    placeholder="Input"
    [value]="recentKeydown"
    (keydown)="handleKeydown($event)"
  />
</div>
