<div
  class="mousepad"
  (pointerdown)="handlePointerdown($event)"
  (pointermove)="handlePointermove($event)"
  (pointerup)="handlePointerup($event)"
></div>

<div class="keyboard">
  <input
    #input
    type="text"
    class="input"
    (keydown)="handleKeydown($event)"
  />
  <label class="recent">
    {{recentKeydown}}
  </label>
</div>

<div class="controls">
  <button
    type="button"
    class="wind"
    (click)="pressKey('ArrowLeft'); pressKey('Enter')"
  >
    <img src="assets/icons/rewind.svg" /></button>
  <button
    type="button"
    class="pause"
    (click)="pressKey(' ')"
  >
    <img src="assets/icons/pause.svg" /></button>
  <button
    type="button"
    class="wind"
    (click)="pressKey('ArrowRight'); pressKey('Enter')"
  >
    <img src="assets/icons/fast-forward.svg" /></button>
</div>

<div class="volume">
  <button
    type="button"
    class="knob"
  >
    <img src="assets/icons/speaker-5.svg" />
  </button>
</div>
