:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 1rem;
  margin: 0 auto;
  background: #333333;
  color: #aaaaaa;
  user-select: none;
}

app-mousepad {
  flex: 1 1 0;
  margin-bottom: 1rem;
}

app-controls {
  margin-top: 1rem;
}

app-volume {
  margin-top: .5rem;
}
