:host {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-rows: 1fr auto auto auto;
  justify-items: stretch;
  align-items: stretch;
  grid-gap: 1rem;
  padding: 1rem;
  background: #333333;
  color: #bbbbbb;
  user-select: none;
}

app-mousepad {
  display: none;
}

app-keyboard {
  align-self: end;
}

@media (min-height: 360px) {
  app-mousepad {
    display: block;
  }
}
