:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 1rem;
  margin: 0 auto;
  background: #333333;
  color: #aaaaaa;
}

div {
  flex: 1 1 0;
  padding-bottom: 1rem;
}
